<html>
   <head>
      <title>Menu</title>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link href="/static/css/menu.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->
   </head>
   <body>
      <form class="form-horizontal" method="post">
      <!-- Token -->
      <input name="csrfmiddlewaretoken" type="hidden" value="Uu8ASKmQ3yBunpNygt4jg2JmoFfK3aNUjmd94JueO75YhBVJlFrN0fzlQVkLbU2q">
      <div class="container dad" style="width: 100%; padding: 0;">
             <div class="row" style="float: right;">
         		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         				<div class="grow vertical-tab-1">
                        <a href="/">
                           <p class="rotate">Início</p>
                        </a>
         				</div>
         				<div class="grow vertical-tab-2">
         					<a href="/login/">
                           <p class="rotate">Login</p>
                        </a>
         				</div>
         				<div class="grow vertical-tab-3">
         				<a href="/contato/">
                     	<p class="rotate">Cadastro Contato</p>
         			   </a>
         				</div>
         				
         				<div class="grow vertical-tab-4">
         				<a href="#">
                  		<p class="rotate">Contato</p>
         			   </a>
         		   </div>
         		</div>
         	</div>
         </div>
      </form>
   </body>
</html>